@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/*
font family: source code pro, monospace
             ubuntu, sans-serif
color: 
dark: #193C40
yellow: #C2A36D
graygreen: #8A99A6
green: #567D8C
gray: #E5E5EF
lightblue: #C7D9E8
*/

body{
  background-color: #567D8C;
}
.ubuntu{
  font-family: Ubuntu, sans-serif;
}
.ubuntuUnderline{
  text-decoration: underline;
}
.ubuntuItalic{
  font-style: italic;
}
.ubuntuMedium{
  font-weight: 500;
}
.ubuntuLight{
  font-weight: 300;
}
.sourceCodePro{
  font-family: "Source Code Pro", monospace;
}
.smallerText{
  font-size: 0.9em;
}
.btn-primary{
	background-color: #FFFFFF;
	color: #193C40;
	border-color: #193C40;
}
.bggray{
  background-color: #E5E5EF;
}
#bglightblue{
  background-color: #C7D9E8;
}
.bgdark{
  background-color: #193C40;
}
#color-yellow{
  color: #C2A36D
}
.fontLight{
  color:#C7D9E8;
}
section{
  background-color: #C7D9E8;
}
body{
  font-size: .6em;
}
h1{
  font-size: .9rem;
}
h2{
  font-size: .8rem;
}
h3{font-size: .7rem;}
i{
  font-size: 2em;
  font-weight: bold;
}
i.bi-linkedin{
  color: #0e76a8;
}
i.bi-instagram{
  color:#8a3ab9;
}
i.bi-facebook{
  color: #4267B2;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
  background-color: #C7D9E8;
  border-color: #6c8eaa;
}
.roundedCorner{
  border-radius: 30px;
}
 /*MEDIA QUERY-Always in the last
 @media (condition)*/
@media (min-width: 460px){
  body{
    font-size:1.2em
  }
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1.5rem;
  }
  h3{
    font-size: 1.1rem;
  }
}